{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 66
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "styled-jsx/babel"
  ]
}